# NOTE: Requires **VS2019 16.3** or later

# Rules for Vortragsmanager
# Description: Code analysis rules for Vortragsmanager.csproj.

# Code files
[*.{cs,vb}]


dotnet_diagnostic.CA1001.severity = none

dotnet_diagnostic.CA1016.severity = none

dotnet_diagnostic.CA1031.severity = none

dotnet_diagnostic.CA1061.severity = none

dotnet_diagnostic.CA1063.severity = none

dotnet_diagnostic.CA1065.severity = none

dotnet_diagnostic.CA1821.severity = none

dotnet_diagnostic.CA2002.severity = none

dotnet_diagnostic.CA2101.severity = none

dotnet_diagnostic.CA2200.severity = none

dotnet_diagnostic.CA2207.severity = none

dotnet_diagnostic.CA2214.severity = none

dotnet_diagnostic.CA2216.severity = none

dotnet_diagnostic.CA2229.severity = none

dotnet_diagnostic.CA2231.severity = none

dotnet_diagnostic.CA2235.severity = none

dotnet_diagnostic.CA2237.severity = none

dotnet_diagnostic.CA2241.severity = none

dotnet_diagnostic.CA2242.severity = none
