<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Vortragsmanager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="Vortragsmanager.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <userSettings>
    <Vortragsmanager.Properties.Settings>
      <setting name="sqlite" serializeAs="String">
        <value>vortragsmanager.sqlite3</value>
      </setting>
      <setting name="NameKreisaufseher" serializeAs="String">
        <value>Name des Kreisaufseher</value>
      </setting>
      <setting name="SearchSpeaker_RednerCheckHistory" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchSpeaker_RednerCheckFuture" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchSpeaker_VortragCheckFuture" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchSpeaker_VortragCheckHistory" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchSpeaker_MaxEntfernung" serializeAs="String">
        <value>100</value>
      </setting>
      <setting name="DashboardShowDetails" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchSpeaker_OffeneAnfrage" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="LogLevel" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="LogFolder" serializeAs="String">
        <value>-</value>
      </setting>
      <setting name="SearchSpeaker_RednerCheckCancelation" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SaveBackups" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SearchSpeaker_Kreis" serializeAs="String">
        <value />
      </setting>
      <setting name="ListCreate_OpenFile" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="SonntagAnzeigeMonate" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="ShowActivityButtons" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="LastChangelog" serializeAs="String">
        <value>0</value>
      </setting>
      <setting name="HideChangelog" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="ListAushangAnzahlWochen" serializeAs="String">
        <value>10</value>
      </setting>
      <setting name="ThemeIsDark" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="FotoExport" serializeAs="String">
        <value>True</value>
      </setting>
    </Vortragsmanager.Properties.Settings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>MetropolisDark</value>
      </setting>
    </DXThemeManager>
  </userSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="lib" />
      <dependentAssembly>
        <assemblyIdentity name="System.Numerics.Vectors" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.1.4.0" newVersion="4.1.4.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Runtime.CompilerServices.Unsafe" publicKeyToken="b03f5f7f11d50a3a" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.6.0" newVersion="4.0.6.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Buffers" publicKeyToken="cc7b13ffcd2ddd51" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-4.0.3.0" newVersion="4.0.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <applicationSettings>
    <Vortragsmanager.Properties.Settings>
      <setting name="ChangelogPfad" serializeAs="String">
        <value>https://raw.githubusercontent.com/thomasramm/Vortragsmanager/master/Changelog.md</value>
      </setting>
    </Vortragsmanager.Properties.Settings>
  </applicationSettings>
</configuration>