<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="DevExpress.CodeParser" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Data" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Data.Desktop" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.DataAccess" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Images" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Mvvm" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Office.Core" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Pdf.Core" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Pdf.Drawing" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Printing.Core" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Core" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.RichEdit.Export" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Wpf.Core" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Wpf.DocumentViewer.Core" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Wpf.Grid.Core" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Wpf.Layout" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Wpf.Navigation" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Wpf.Office" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Wpf.Printing" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Wpf.RichEdit" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Wpf.Themes.DXStyle" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Wpf.Themes.MetropolisDark" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Wpf.Themes.Office2019Colorful" version="20.2.4" targetFramework="net472" />
  <package id="DevExpress.Xpo" version="20.2.4" targetFramework="net472" />
  <package id="EPPlus" version="4.5.3.2" targetFramework="net472" />
  <package id="Microsoft.CodeAnalysis.FxCopAnalyzers" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeAnalysis.VersionCheckAnalyzer" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.CodeQuality.Analyzers" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetCore.Analyzers" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Microsoft.NetFramework.Analyzers" version="3.3.0" targetFramework="net472" developmentDependency="true" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.0" targetFramework="net472" />
  <package id="System.Data.SQLite.Core" version="1.0.112.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.3" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="4.7.0" targetFramework="net472" />
</packages>